.Card{
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Card h1{
    font-size: 1.5rem;
}

.InstallCard{
    width: 30%;
}

.logoContainer{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.titleLogo{
    color: #434099;
    font-size: 62px;
    margin-bottom: 0px;
}

.subtitleLogo{
    color: #434099;
    font-size: 16px;
}

.TableCard{
    width: 90%;
}